/**
 * Evatheme Element Menu Styles
 */


.evatheme_core-menu-wrap.type1 .menu_item_content{
	position: relative;
	padding-right: 70px;
}
.evatheme_core-menu-wrap.type1 .menu_item_label{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	font-weight: 600;
	line-height: 30px;
	font-size: 10px;
}
.evatheme_core-menu-wrap.type1 .menu_item h4{
	margin-bottom: 9px;
	line-height: 26px;
	font-size: 22px;
}
.evatheme_core-menu-wrap.type1.no_img .menu_item h4{
	position: relative;
	z-index: 10;
}
.evatheme_core-menu-wrap.type1.no_img .menu_item .line{
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	right: -30px;
	opacity: 0.1;
	border-bottom: 1px dashed #333;
}
.evatheme_core-menu-wrap.type1 .menu_item .menu_item_title_span{
	padding-right: 10px;
}
.evatheme_core-menu-wrap.type1 .menu_item_price{
	position: absolute;
	bottom: 0;
	right: -70px;
	padding-left: 15px;
}
.evatheme_core-menu-wrap.type1.with_img .menu_item_price{
	top:0;
	bottom: auto;
	right: 0;
}
.evatheme_core-menu-wrap.type1 .menu_item_ingredients{
	line-height: 24px;
	font-size: 14px;
}


/* Type 2 */
.evatheme_core-menu-wrap.type2 .menu_item{
	padding-bottom: 30px;
}
.evatheme_core-menu-wrap.type2 .menu_item_label{
	position: absolute;
	top:0;
	right:-20px;
	transform: translateX(100%);
}
.evatheme_core-menu-wrap.type2 .menu_item_label span{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	font-weight: 600;
	line-height: 20px;
	font-size: 10px;
	letter-spacing: 1px;
}
.evatheme_core-menu-wrap.type2 .menu_item h4{
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
	line-height: 20px;
	font-size: 18px;
}
.evatheme_core-menu-wrap.type2 .menu_item_ingredients{
	margin-bottom: 14px;
	line-height: 23px;
	font-size: 13px;
}
.evatheme_core-menu-wrap.type2 .menu_item_price{
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	line-height: 30px;
	font-size: 14px;
}


/* Type 3 */
.evatheme_core-menu-wrap.type3.with_img .menu_item{
	position: relative;
}
.evatheme_core-menu-wrap.type3 .menu_item_label span{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	font-weight: 600;
	line-height: 30px;
	font-size: 10px;
}
.evatheme_core-menu-wrap.type3.with_img .menu_item_label{
	position: absolute;
	left: 0;
	top: 0;
}
.evatheme_core-menu-wrap.center.type3 .menu_img_wrap{
	position: relative;
}
.evatheme_core-menu-wrap.center.type3 .menu_item_label{
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	bottom:0;
	text-align: center;
}
.evatheme_core-menu-wrap.center.type3 .menu_item_label span{
	vertical-align: bottom;
	margin-bottom: 0 !important;
}
.evatheme_core-menu-wrap.type3 .menu_item h4{
	position: relative;
	z-index: 10;
	margin-bottom: 13px;
	line-height: 27px;
	font-size: 18px;
}
.evatheme_core-menu-wrap.center.type3 .menu_item h4{
	margin-bottom: 18px;
	text-align: center;
}
.evatheme_core-menu-wrap.type3 .menu_item .line{
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 7px;
	right: 0;
	opacity: 0.1;
	border-bottom: 1px dashed #333;
}
.evatheme_core-menu-wrap.type3 .menu_item .menu_item_title_span{
	padding-right: 10px;
}
.evatheme_core-menu-wrap.type3 .menu_item_price{
	position: absolute;
	top:0;
	right: 0;
	padding-left: 10px;
	font-weight: 600;
	line-height: 27px;
	font-size: 18px;
}
.evatheme_core-menu-wrap.center.type3 .menu_item_price{
	position: static;
	display: block;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}
.evatheme_core-menu-wrap.type3 .menu_item_ingredients{
	line-height: 23px;
	font-size: 14px;
}
.evatheme_core-menu-wrap.center.type3 .menu_item_ingredients{
	margin-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}


/* Type 4 */
.evatheme_core-menu-wrap.left.type4 .menu_item,
.evatheme_core-menu-wrap.bottom.type4 .menu_item,
.evatheme_core-menu-wrap.center.type4 .menu_item{
	position: relative;
}
.evatheme_core-menu-wrap.left.type4 .menu_img_wrap,
.evatheme_core-menu-wrap.bottom.type4 .menu_img_wrap,
.evatheme_core-menu-wrap.center.type4 .menu_img_wrap{
	position: relative;
}
.evatheme_core-menu-wrap.left.type4 .menu_img_wrap:before,
.evatheme_core-menu-wrap.bottom.type4 .menu_img_wrap:before,
.evatheme_core-menu-wrap.center.type4 .menu_img_wrap:before{
	content: '';
	position: absolute;
	z-index: 6;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #222;
	transition: opacity 0.2s ease-in-out;
}
.evatheme_core-menu-wrap.left.type4 .menu_item:hover .menu_img_wrap:before,
.evatheme_core-menu-wrap.bottom.type4 .menu_item:hover .menu_img_wrap:before,
.evatheme_core-menu-wrap.center.type4 .menu_item:hover .menu_img_wrap:before{
	opacity: 0.5;
}
.evatheme_core-menu-wrap.left.type4 .menu_item_descr{
	position: absolute;
	z-index: 10;
	left: 40px;
	bottom: -10px;
	right: 40px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.evatheme_core-menu-wrap.left.type4 .menu_item:hover .menu_item_descr{
	bottom: 34px;
	opacity: 1;
}
.evatheme_core-menu-wrap.left.type4 .menu_item_label,
.evatheme_core-menu-wrap.center.type4 .menu_item_label{
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item_label{
	position: absolute;
	z-index: 11;
	top: 10px;
	left: 10px;
}
.evatheme_core-menu-wrap.center.type4 .menu_item_label{
	text-align: center;
}
.evatheme_core-menu-wrap.left.type4 .menu_item_label span,
.evatheme_core-menu-wrap.bottom.type4 .menu_item_label span,
.evatheme_core-menu-wrap.center.type4 .menu_item_label span{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 600;
	line-height: 30px;
	font-size: 10px;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item_label span{
	border-radius: 15px;
}
.evatheme_core-menu-wrap.left.type4 .menu_item h4,
.evatheme_core-menu-wrap.center.type4 .menu_item h4{
	position: relative;
	margin-bottom: 13px;
	padding-bottom: 14px;
	line-height: 27px;
	font-size: 18px;
}
.evatheme_core-menu-wrap.left.type4 .menu_item p,
.evatheme_core-menu-wrap.center.type4 .menu_item p{
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 14px;
}
.evatheme_core-menu-wrap.left.type4 .menu_item .line,
.evatheme_core-menu-wrap.center.type4 .menu_item .line{
	position: absolute;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 105px;
	opacity: 0.3;
	border-bottom: 1px dashed #fff;
}
.evatheme_core-menu-wrap.center.type4 .menu_item .line{
	left:50%;
	margin-left: -52px;
}
.evatheme_core-menu-wrap.left.type4 .menu_item_ingredients{
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 16px;
}
.evatheme_core-menu-wrap.left.type4 .menu_item_price,
.evatheme_core-menu-wrap.center.type4 .menu_item_price{
	font-weight: 600;
	line-height: 27px;
	font-size: 18px;
}

.evatheme_core-menu-wrap.bottom.type4 .menu_item_descr{
	position: absolute;
	z-index: 10;
	left: -40px;
	bottom: 20px;
	right:100px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item:hover .menu_item_descr{
	left: 20px;
	opacity: 1;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item h4{
	margin-bottom: 2px;
	line-height: 23px;
	font-size: 18px;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item_ingredients{
	margin-bottom: 0;
	line-height: 19px;
	font-size: 12px;
}
.evatheme_core-menu-wrap.bottom.type4 .menu_item_price{
	position: absolute;
	z-index: 11;
	bottom: 20px;
	right: 20px;
	padding: 7px 20px;
	font-weight: 600;
	line-height: 27px;
	font-size: 18px;
	border-radius: 20px;
	background-color: #fff;
}

.evatheme_core-menu-wrap.center.type4 .menu_item_descr{
	position: absolute;
	z-index: 10;
	left: 80px;
	right: 80px;
	top: 70%;
	text-align: center;
	opacity: 0;
	transform: translateY(-50%);
	transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}
.evatheme_core-menu-wrap.center.type4 .menu_item:hover .menu_item_descr{
	top:50%;
	opacity: 1;
}



@media only screen and (max-width: 1025px) {
	
	.evatheme_core-menu-wrap.type2 .menu_item_label{
		position: static;
		margin-top: 10px;
		transform: translateX(0);
	}

}

@media only screen and (max-width: 768px) {
	
	.evatheme_core-menu-wrap.type2 .menu_item_label{
		position: static;
	}

	.evatheme_core-menu-wrap.left.type4 .menu_item_descr,
	.evatheme_core-menu-wrap.center.type4 .menu_item_descr{
		left: 15px;
		right: 15px;
	}
	.evatheme_core-menu-wrap.left.type4 .menu_item p,
	.evatheme_core-menu-wrap.center.type4 .menu_item p,
	.evatheme_core-menu-wrap.bottom.type4 .menu_item_ingredients{
		display: none;
	}

}